In [1]:
pip install noML

Collecting noML
  Downloading https://files.pythonhosted.org/packages/de/f1/1d4b86918721357d2a586e2d4901598ad007b54c55cce51397e5876eb575/noML-0.1.tar.gz
Building wheels for collected packages: noML
  Building wheel for noML (setup.py) ... done
  Created wheel for noML: filename=noML-0.1-cp37-none-any.whl size=3959 sha256=b6b0cc1fe9f3bcfac88d2f5476250d86436857fc1d37e25c9b647b265dc8f2f4
  Stored in directory: /root/.cache/pip/wheels/bc/e7/af/5919a7eaea459792791e571b13a92464ee927ca39013553726
Successfully built noML
Installing collected packages: noML
Successfully installed noML-0.1

In [2]:
pip install pandas_ta

Collecting pandas_ta
  Downloading https://files.pythonhosted.org/packages/f8/6f/3a19cf5153f6b91684cbe641d42f7d6a2e518f237be234e949adeceeffe1/pandas_ta-0.2.45b.tar.gz (88kB)
     |████████████████████████████████| 92kB 3.5MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.2.45b0-cp37-none-any.whl size=175305 sha256=dff9947b275460adedc1637f665f2116f31cb5d3a5ca43eae80e0582b36b88f0
  Stored in directory: /root/.cache/pip/wheels/78/76/74/e4b09c98fc91d7e1e0a56f4fe067796f216deacaa509234579
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.2.45b0

In [3]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 7.4MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=d8e096cd695b3fc28c6dd5298215ef7373d13457e3dd833a61ef622f95aced79
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [4]:
# Python3 Program to find 
# best buying and selling days

# This function finds the buy sell
# schedule for maximum profit
def stockBuySell(price, n):
	
	# Prices must be given for at least two days
	if (n == 1):
		return
	
	# Traverse through given price array
	i = 0
	while (i < (n - 1)):
		
		# Find Local Minima
		# Note that the limit is (n-2) as we are
		# comparing present element to the next element
		while ((i < (n - 1)) and
				(price[i + 1] <= price[i])):
			i += 1
		
		# If we reached the end, break
		# as no further solution possible
		if (i == n - 1):
			break
		
		# Store the index of minima
		buy = i
		i += 1
		
		# Find Local Maxima
		# Note that the limit is (n-1) as we are
		# comparing to previous element
		while ((i < n) and (price[i] >= price[i - 1])):
			i += 1
			
		# Store the index of maxima
		sell = i - 1
		
		print("Buy on day: ",buy,"\t",
				"Sell on day: ",sell)
		
# Driver code

# Stock prices on consecutive days
price = [100, 180, 260, 310, 40, 535, 695]
n = len(price)

# Fucntion call
stockBuySell(price, n)

# This is code contributed by SHUBHAMSINGH10

Buy on day:  0 	 Sell on day:  3
Buy on day:  4 	 Sell on day:  6

In [20]:
import pandas as pd
import yfinance as yf

In [21]:
tsla_df = yf.download('TSLA', 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False)

In [22]:
pip install noML

Requirement already satisfied: noML in /usr/local/lib/python3.7/dist-packages (0.1)

In [23]:
import pandas as pd
import numpy as np
import noML as noML

In [ ]:
df = pd.read_csv('master_df_wo_ohlcv.csv')
df.head()

   Unnamed: 0            AD     ADOSC_3_10  ...   VTXP_14   VTXM_14  final_buy
0           0 -9.716770e+06 -917075.354697  ...  0.940000  1.080000         no
1           1 -1.023245e+07 -993406.503150  ...  0.960001  1.040000         no
2           2 -1.023245e+07 -934323.199958  ...  0.940000  1.060001         no
3           3 -1.051157e+07 -914024.557747  ...  0.959183  1.061225         no
4           4 -1.067461e+07 -874504.107956  ...  0.979167  1.041667         no

[5 rows x 185 columns]

In [ ]:
df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [ ]:
df.columns

Index(['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'ABER_SG_5_15', 'ABER_XG_5_15',
       'ABER_ATR_5_15', 'ACCBL_20', 'ACCBM_20', 'ACCBU_20', 'AMATe_LR_2',
       ...
       'VWMA_10', 'WCP', 'WILLR_14', 'WMA_10', 'ZL_EMA_10', 'Z_30', 'VIDYA_14',
       'VTXP_14', 'VTXM_14', 'final_buy'],
      dtype='object', length=184)

In [ ]:
X = df.drop(['final_buy'],axis=1)
y = df.final_buy

In [ ]:
a = noML.AutoML(X,y)

In [ ]:
X_train, X_test = a.feature_selection_all()

1
['SQZ_NO']
total drop columns , 152
We drop this columns because they highly +ve correlated
  {'VIDYA_14', 'PPOh_12_26_9', 'ENTP_10', 'TRIXs_30_9', 'OBV_min_2', 'PVR', 'QQE_14_5_4.236', 'PSL_12', 'VWAP_D', 'PVT', 'ABER_SG_5_15', 'K_9_3', 'MIDPOINT_2', 'LOGRET_1', 'ALMA_10_6.0_0.85', 'ROC_10', 'SUPERTd_7_3.0', 'HA_low', 'VWMA_10', 'DMN_14', 'HA_open', 'CKSPl_10_1_9', 'CMO_14', 'RSX_14', 'AR_26', 'TTM_TRND_6', 'VAR_30', 'HL2', 'DCM_20_20', 'STOCHRSIk_14_14_3_3', 'QQE_14_5_4.236_RSIMA', 'KURT_30', 'ACCBM_20', 'RVI_14', 'HW-LOWER', 'HW-UPPER', 'J_9_3', 'SLOPE_1', 'DMP_14', 'ZL_EMA_10', 'Z_30', 'PVI_1', 'MFI_14', 'CCI_14_0.015', 'UI_14', 'T3_10_0.7', 'PVOL', 'WCP', 'DEMA_10', 'BR_26', 'CG_10', 'SQZ_20_2.0_20_1.5', 'INC_1', 'BBU_5_2.0', 'BIAS_SMA_26', 'HILO_13_21', 'PDIST', 'SWMA_10', 'CKSPs_10_1_9', 'KAMA_10_2_30', 'OBV', 'RMA_10', 'SMIs_5_20_5', 'PVOs_12_26_9', 'QTL_30_0.5', 'SMIo_5_20_5', 'RSI_14', 'LR_14', 'ICS_26', 'MIDPRICE_2', 'SINWMA_14', 'ATRr_14', 'KCLe_20_2', 'FWMA_10', 'MACD_12_26_9', 'DCL_20_20', 'PPO_12_26_9', 'AROONOSC_14', 'MCGD_10', 'COPC_11_14_10', 'SUPERT_7_3.0', 'IKS_26', 'OBVe_12', 'HMA_10', 'KSTs_9', 'PGO_14', 'SMA_10', 'WILLR_14', 'LDECAY_5', 'RVGIs_14_4', 'NATR_14', 'FISHERT_9_1', 'TEMA_10', 'PVOh_12_26_9', 'BBL_5_2.0', 'HWMA_0.2_0.1_0.1', 'ISA_9', 'UO_7_14_28', 'INERTIA_20_14', 'STOCHd_14_3_3', 'OBVe_4', 'ITS_9', 'THERMOma_20_2_0.5', 'HW-MID', 'AOBV_SR_2', 'SSF_10_2', 'STOCHk_14_3_3', 'KST_10_15_20_30_10_10_10_15', 'EMA_10', 'VTXP_14', 'BULLP_13', 'ABER_ATR_5_15', 'KCBe_20_2', 'D_9_3', 'STDEV_30', 'ABER_XG_5_15', 'EBSW_40_10', 'ISB_26', 'TRIMA_10', 'VTXM_14', 'STOCHRSId_14_14_3_3', 'PPOs_12_26_9', 'MACDs_12_26_9', 'BBM_5_2.0', 'MOM_10', 'OHLC4', 'FISHERTs_9_1', 'TSI_13_25', 'HA_high', 'TRIX_30_9', 'WMA_10', 'ACCBU_20', 'AOBV_LR_2', 'KCUe_20_2', 'MAD_30', 'MEDIAN_30', 'PCTRET_1', 'TRUERANGE_1', 'SKEW_30', 'APO_12_26', 'RVGI_14_4', 'QS_10', 'DCU_20_20', 'PWMA_10', 'HLC3', 'SMI_5_20_5', 'MACDh_12_26_9', 'THERMO_20_2_0.5', 'BEARP_13', 'OBV_max_2', 'HA_close', 'ACCBL_20'}

In [ ]:
X_train.shape

(13920, 30)

In [ ]:
a.fit()

KNN
Logisitc Regression
Gaussian NavieBayes
Decision Tree Classifier
Support vector machine
Random Forest Classifier
SGD Classifier

   Accuracy                 Algorithm  ...  Recall score  time(sec)
0  0.730172                       KNN  ...      0.730172   0.096830
1  0.790230       Logisitc Regression  ...      0.790230   1.095531
2  0.785057       Gaussian NavieBayes  ...      0.785057   0.050600
3  0.762069  Decision Tree Classifier  ...      0.762069   0.434066
4  0.797414    Support vector machine  ...      0.797414   9.677472
5  0.816954  Random Forest Classifier  ...      0.816954   4.754055
6  0.533621            SGD Classifier  ...      0.533621   0.391944

[7 rows x 6 columns]

In [ ]:
model = a.randomforest()

Random Forest Classifier

In [ ]:
print(model.predict(X_test))

['no' 'no' 'buy' ... 'no' 'no' 'no']

In [ ]:
model.score(X_test,y_test)

NameError: ignored

In [ ]:
X_train.columns

Index(['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9',
       'MASSI_9_25', 'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2',
       'PSARr_0.02_0.2', 'SQZ_ON', 'SQZ_OFF', 'THERMOl_20_2_0.5',
       'THERMOs_20_2_0.5'],
      dtype='object')

In [ ]:
tests = df[['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9',
       'MASSI_9_25', 'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2',
       'PSARr_0.02_0.2', 'SQZ_ON', 'SQZ_OFF', 'THERMOl_20_2_0.5',
       'THERMOs_20_2_0.5']].iloc[699]

In [ ]:
# tests.values.reshape((-1,1))

In [ ]:
model.predict([tests.values])

array(['sell'], dtype=object)

In [ ]:
df.iloc[686]

AD              1.62224e+07
ADOSC_3_10      1.36955e+06
ABER_ZG_5_15        50.8733
ABER_SG_5_15        51.4821
ABER_XG_5_15        50.2645
                   ...
Z_30              -0.697799
VIDYA_14             51.866
VTXP_14            0.978261
VTXM_14             1.00543
final_buy               buy
Name: 686, Length: 184, dtype: object

In [ ]:
df[df['final_buy'] == 'buy']

                 AD    ADOSC_3_10  ABER_ZG_5_15  ...   VTXP_14   VTXM_14  final_buy
686    1.622236e+07  1.369554e+06     50.873333  ...  0.978261  1.005435        buy
984   -1.686654e+07 -1.376879e+06     73.883332  ...  0.820513  1.256411        buy
1068  -4.447656e+06 -5.164392e+05     75.080000  ...  0.709090  1.240909        buy
1234   4.246877e+07 -2.763651e+06     83.433335  ...  1.155280  0.807453        buy
1250   4.403575e+07  1.902220e+06     86.566667  ...  0.925795  1.091873        buy
...             ...           ...           ...  ...       ...       ...        ...
17373 -1.058951e+05  1.387660e+03   1718.740007  ...  0.647414  1.259259        buy
17380 -1.187854e+05 -4.934657e+03   1679.420003  ...  0.629274  1.285243        buy
17385 -1.276483e+05 -3.682223e+03   1671.279980  ...  0.731741  1.292140        buy
17391 -2.221469e+05 -4.743421e+04   1647.019995  ...  0.700159  1.286171        buy
17399  1.657343e+05  9.249331e+04   1705.133333  ...  1.085853  0.861411        buy

[1813 rows x 184 columns]

In [ ]:
df[df['final_buy'] == 'sell']

                 AD    ADOSC_3_10  ABER_ZG_5_15  ...   VTXP_14   VTXM_14  final_buy
692    2.627088e+07  4.179464e+06     51.890000  ...  1.257485  0.736526       sell
699    7.883420e+06  2.524276e+06     57.370000  ...  1.372882  0.508474       sell
990    9.252404e+06  1.029133e+07     75.046667  ...  1.239131  0.679347       sell
1074  -1.285515e+06  9.199342e+05     75.906667  ...  0.763888  1.208333       sell
1236   4.605497e+07 -2.738868e+06     85.313334  ...  1.145593  0.681992       sell
...             ...           ...           ...  ...       ...       ...        ...
17370 -1.028565e+05 -7.958109e+03   1759.360002  ...  0.769442  1.218884       sell
17375 -7.224308e+04  2.108565e+04   1713.576676  ...  0.796938  1.195754       sell
17381 -8.145269e+04  1.023172e+04   1673.319995  ...  0.678472  1.259956       sell
17386 -1.159214e+05 -2.073183e+03   1669.843311  ...  0.779681  1.260377       sell
17396  1.966969e+05  1.441616e+05   1682.536670  ...  1.075563  0.878280       sell

[1831 rows x 184 columns]

In [24]:
import datetime as dt
import yfinance as yf
import pandas_ta as ta
start = dt.datetime.today()-dt.timedelta(10)
end = dt.datetime.today()
df = yf.download('ITC.NS',start=start, end=end,interval='15m')

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 139 entries, 2021-04-19 09:15:00+05:30 to 2021-04-27 12:17:25+05:30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       139 non-null    float64
 1   high       139 non-null    float64
 2   low        139 non-null    float64
 3   close      139 non-null    float64
 4   adj_close  139 non-null    float64
 5   volume     139 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 7.6 KB

In [ ]:
df.ta.strategy(ta.AllStrategy)

In [ ]:
df

In [ ]:
df = df[['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9',
       'MASSI_9_25', 'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2',
       'PSARr_0.02_0.2', 'SQZ_ON', 'SQZ_OFF', 'THERMOl_20_2_0.5',
       'THERMOs_20_2_0.5']]

In [ ]:
import pandas as pd
import yfinance as yf
import datetime as dt
import pandas_ta as ta


# This function finds the buy sell
# schedule for maximum profit
def stockBuySell(tick):
    
    start = dt.datetime.today()-dt.timedelta(7)
    end = dt.datetime.today()
    fdf = yf.download(tick,start=start, end=end,interval='1m')
    fdf.ta.strategy(ta.AllStrategy)
    price = fdf['close']
    n = len(fdf)
    
    fdf['final_buy'] = 'no'
    # fdf['final_sell'] = 'no'
    # fdf['profit'] = 0
    total = 0
    # Prices must be given for at least two days
    if (n == 1):
        return
    
    # Traverse through given price array
    i = 0
    while (i < (n - 1)):
        
        # Find Local Minima
        # Note that the limit is (n-2) as we are
        # comparing present element to the next element
        while ((i < (n - 1)) and
                (price[i + 1] <= price[i])):
            i += 1
        
        # If we reached the end, break
        # as no further solution possible
        if (i == n - 1):
            break
        
        # Store the index of minima
        buy = i
        i += 1
        
        # Find Local Maxima
        # Note that the limit is (n-1) as we are
        # comparing to previous element
        while ((i < n) and (price[i] >= price[i - 1])):
            i += 1
            
        # Store the index of maxima
        sell = i - 1
        
        profit = fdf['close'][sell] - fdf['close'][buy]
        
        if (profit >= 2):
            
            print("Buy on day: ",buy,"\t", "Sell on day: ",sell,"\t", "Profit: ",profit)  
            total = total + profit
            # print(total)
            fdf['final_buy'][buy] = 'buy'
            fdf['final_buy'][sell] = 'sell'
            # fdf['profit'][sell] = profit
    fdf.drop(['open', 'high', 'low', 'close', 'adj_close', 'volume','HILOs_13_21','HILOl_13_21','SUPERTl_7_3.0','QQEs_14_5_4.236','PSARs_0.02_0.2','PSARl_0.02_0.2','SUPERTs_7_3.0','QQEl_14_5_4.236'],axis=1,inplace=True)
    fdf = fdf.dropna()
    fdf = fdf.reset_index(drop=True)
    return fdf

In [ ]:
df = stockBuySell('TCS.NS')

[*********************100%***********************]  1 of 1 completed
Buy on day:  3 	 Sell on day:  6 	 Profit:  7.25
Buy on day:  7 	 Sell on day:  8 	 Profit:  5.349853515625
Buy on day:  9 	 Sell on day:  11 	 Profit:  2.35009765625
Buy on day:  14 	 Sell on day:  15 	 Profit:  3.39990234375
Buy on day:  19 	 Sell on day:  22 	 Profit:  10.900146484375
Buy on day:  23 	 Sell on day:  27 	 Profit:  14.5
Buy on day:  32 	 Sell on day:  34 	 Profit:  4.050048828125
Buy on day:  45 	 Sell on day:  46 	 Profit:  3.0
Buy on day:  49 	 Sell on day:  50 	 Profit:  3.150146484375
Buy on day:  63 	 Sell on day:  66 	 Profit:  2.300048828125
Buy on day:  69 	 Sell on day:  75 	 Profit:  7.050048828125
Buy on day:  81 	 Sell on day:  84 	 Profit:  3.800048828125
Buy on day:  88 	 Sell on day:  89 	 Profit:  4.64990234375
Buy on day:  91 	 Sell on day:  95 	 Profit:  2.2001953125
Buy on day:  99 	 Sell on day:  101 	 Profit:  2.14990234375
Buy on day:  104 	 Sell on day:  107 	 Profit:  2.5498046875
Buy on day:  115 	 Sell on day:  120 	 Profit:  3.25
Buy on day:  125 	 Sell on day:  127 	 Profit:  2.050048828125
Buy on day:  141 	 Sell on day:  144 	 Profit:  3.0
Buy on day:  146 	 Sell on day:  149 	 Profit:  2.0
Buy on day:  153 	 Sell on day:  154 	 Profit:  3.400146484375
Buy on day:  166 	 Sell on day:  167 	 Profit:  2.050048828125
Buy on day:  168 	 Sell on day:  173 	 Profit:  3.099853515625
Buy on day:  182 	 Sell on day:  183 	 Profit:  2.64990234375
Buy on day:  185 	 Sell on day:  190 	 Profit:  3.949951171875
Buy on day:  192 	 Sell on day:  195 	 Profit:  3.35009765625
Buy on day:  196 	 Sell on day:  198 	 Profit:  2.650146484375
Buy on day:  210 	 Sell on day:  212 	 Profit:  2.14990234375
Buy on day:  224 	 Sell on day:  227 	 Profit:  2.10009765625
Buy on day:  257 	 Sell on day:  263 	 Profit:  4.900146484375
Buy on day:  269 	 Sell on day:  271 	 Profit:  3.050048828125
Buy on day:  281 	 Sell on day:  283 	 Profit:  2.099853515625
Buy on day:  284 	 Sell on day:  286 	 Profit:  3.449951171875
Buy on day:  289 	 Sell on day:  291 	 Profit:  4.0
Buy on day:  317 	 Sell on day:  320 	 Profit:  4.800048828125
Buy on day:  344 	 Sell on day:  346 	 Profit:  4.349853515625
Buy on day:  349 	 Sell on day:  351 	 Profit:  3.099853515625
Buy on day:  354 	 Sell on day:  355 	 Profit:  2.0
Buy on day:  356 	 Sell on day:  359 	 Profit:  5.550048828125
Buy on day:  360 	 Sell on day:  361 	 Profit:  3.050048828125
Buy on day:  363 	 Sell on day:  364 	 Profit:  2.050048828125
Buy on day:  365 	 Sell on day:  367 	 Profit:  3.199951171875
Buy on day:  370 	 Sell on day:  372 	 Profit:  4.35009765625
Buy on day:  378 	 Sell on day:  379 	 Profit:  8.199951171875
Buy on day:  380 	 Sell on day:  382 	 Profit:  2.800048828125
Buy on day:  384 	 Sell on day:  385 	 Profit:  3.550048828125
Buy on day:  387 	 Sell on day:  389 	 Profit:  3.050048828125
Buy on day:  390 	 Sell on day:  393 	 Profit:  7.39990234375
Buy on day:  397 	 Sell on day:  400 	 Profit:  4.599853515625
Buy on day:  405 	 Sell on day:  406 	 Profit:  2.0498046875
Buy on day:  412 	 Sell on day:  413 	 Profit:  3.14990234375
Buy on day:  418 	 Sell on day:  419 	 Profit:  2.449951171875
Buy on day:  438 	 Sell on day:  440 	 Profit:  3.39990234375
Buy on day:  446 	 Sell on day:  449 	 Profit:  4.75
Buy on day:  451 	 Sell on day:  454 	 Profit:  3.85009765625
Buy on day:  457 	 Sell on day:  459 	 Profit:  2.800048828125
Buy on day:  463 	 Sell on day:  468 	 Profit:  3.449951171875
Buy on day:  469 	 Sell on day:  470 	 Profit:  2.800048828125
Buy on day:  475 	 Sell on day:  478 	 Profit:  2.85009765625
Buy on day:  486 	 Sell on day:  490 	 Profit:  4.10009765625
Buy on day:  491 	 Sell on day:  496 	 Profit:  5.64990234375
Buy on day:  510 	 Sell on day:  511 	 Profit:  2.2998046875
Buy on day:  535 	 Sell on day:  538 	 Profit:  4.10009765625
Buy on day:  539 	 Sell on day:  540 	 Profit:  3.25
Buy on day:  556 	 Sell on day:  558 	 Profit:  4.25
Buy on day:  564 	 Sell on day:  570 	 Profit:  9.449951171875
Buy on day:  581 	 Sell on day:  583 	 Profit:  4.900146484375
Buy on day:  584 	 Sell on day:  585 	 Profit:  3.39990234375
Buy on day:  588 	 Sell on day:  589 	 Profit:  2.7998046875
Buy on day:  593 	 Sell on day:  596 	 Profit:  3.25
Buy on day:  598 	 Sell on day:  599 	 Profit:  2.949951171875
Buy on day:  623 	 Sell on day:  625 	 Profit:  3.39990234375
Buy on day:  626 	 Sell on day:  628 	 Profit:  2.4501953125
Buy on day:  629 	 Sell on day:  630 	 Profit:  2.85009765625
Buy on day:  637 	 Sell on day:  641 	 Profit:  4.449951171875
Buy on day:  644 	 Sell on day:  647 	 Profit:  4.349853515625
Buy on day:  654 	 Sell on day:  655 	 Profit:  2.300048828125
Buy on day:  656 	 Sell on day:  658 	 Profit:  2.5
Buy on day:  675 	 Sell on day:  676 	 Profit:  5.300048828125
Buy on day:  681 	 Sell on day:  685 	 Profit:  5.900146484375
Buy on day:  694 	 Sell on day:  696 	 Profit:  4.60009765625
Buy on day:  697 	 Sell on day:  698 	 Profit:  2.25
Buy on day:  703 	 Sell on day:  705 	 Profit:  6.25
Buy on day:  706 	 Sell on day:  708 	 Profit:  4.550048828125
Buy on day:  713 	 Sell on day:  716 	 Profit:  3.0
Buy on day:  722 	 Sell on day:  726 	 Profit:  7.050048828125
Buy on day:  727 	 Sell on day:  728 	 Profit:  4.85009765625
Buy on day:  730 	 Sell on day:  732 	 Profit:  2.35009765625
Buy on day:  733 	 Sell on day:  734 	 Profit:  2.25
Buy on day:  740 	 Sell on day:  742 	 Profit:  2.89990234375
Buy on day:  745 	 Sell on day:  747 	 Profit:  2.199951171875
Buy on day:  749 	 Sell on day:  752 	 Profit:  17.150146484375
Buy on day:  755 	 Sell on day:  759 	 Profit:  15.650146484375
Buy on day:  760 	 Sell on day:  764 	 Profit:  9.449951171875
Buy on day:  765 	 Sell on day:  766 	 Profit:  5.10009765625
Buy on day:  768 	 Sell on day:  769 	 Profit:  8.89990234375
Buy on day:  770 	 Sell on day:  771 	 Profit:  2.449951171875
Buy on day:  772 	 Sell on day:  773 	 Profit:  2.650146484375
Buy on day:  776 	 Sell on day:  777 	 Profit:  4.64990234375
Buy on day:  779 	 Sell on day:  783 	 Profit:  5.64990234375
Buy on day:  784 	 Sell on day:  785 	 Profit:  5.949951171875
Buy on day:  786 	 Sell on day:  788 	 Profit:  5.0498046875
Buy on day:  796 	 Sell on day:  798 	 Profit:  3.199951171875
Buy on day:  803 	 Sell on day:  805 	 Profit:  2.949951171875
Buy on day:  816 	 Sell on day:  817 	 Profit:  3.050048828125
Buy on day:  825 	 Sell on day:  827 	 Profit:  9.800048828125
Buy on day:  828 	 Sell on day:  831 	 Profit:  5.89990234375
Buy on day:  836 	 Sell on day:  837 	 Profit:  2.64990234375
Buy on day:  841 	 Sell on day:  843 	 Profit:  2.39990234375
Buy on day:  853 	 Sell on day:  856 	 Profit:  11.14990234375
Buy on day:  872 	 Sell on day:  874 	 Profit:  3.85009765625
Buy on day:  877 	 Sell on day:  880 	 Profit:  8.39990234375
Buy on day:  883 	 Sell on day:  884 	 Profit:  3.199951171875
Buy on day:  902 	 Sell on day:  904 	 Profit:  2.5
Buy on day:  910 	 Sell on day:  912 	 Profit:  3.449951171875
Buy on day:  916 	 Sell on day:  917 	 Profit:  2.5
Buy on day:  920 	 Sell on day:  921 	 Profit:  2.75
Buy on day:  929 	 Sell on day:  930 	 Profit:  2.0
Buy on day:  936 	 Sell on day:  937 	 Profit:  3.64990234375
Buy on day:  941 	 Sell on day:  946 	 Profit:  4.89990234375
Buy on day:  947 	 Sell on day:  949 	 Profit:  2.550048828125
Buy on day:  957 	 Sell on day:  959 	 Profit:  3.199951171875
Buy on day:  967 	 Sell on day:  971 	 Profit:  6.949951171875
Buy on day:  972 	 Sell on day:  977 	 Profit:  8.35009765625
Buy on day:  978 	 Sell on day:  979 	 Profit:  2.85009765625
Buy on day:  998 	 Sell on day:  1000 	 Profit:  2.550048828125
Buy on day:  1011 	 Sell on day:  1013 	 Profit:  3.400146484375
Buy on day:  1025 	 Sell on day:  1027 	 Profit:  7.800048828125
Buy on day:  1029 	 Sell on day:  1030 	 Profit:  2.199951171875
Buy on day:  1032 	 Sell on day:  1035 	 Profit:  4.0
Buy on day:  1039 	 Sell on day:  1040 	 Profit:  2.050048828125
Buy on day:  1059 	 Sell on day:  1062 	 Profit:  7.85009765625
Buy on day:  1063 	 Sell on day:  1064 	 Profit:  3.550048828125
Buy on day:  1068 	 Sell on day:  1070 	 Profit:  2.89990234375
Buy on day:  1072 	 Sell on day:  1074 	 Profit:  2.800048828125
Buy on day:  1079 	 Sell on day:  1082 	 Profit:  4.25
Buy on day:  1090 	 Sell on day:  1094 	 Profit:  6.5
Buy on day:  1095 	 Sell on day:  1096 	 Profit:  4.0
Buy on day:  1097 	 Sell on day:  1102 	 Profit:  2.5
Buy on day:  1105 	 Sell on day:  1107 	 Profit:  2.25
Buy on day:  1108 	 Sell on day:  1111 	 Profit:  4.300048828125
Buy on day:  1122 	 Sell on day:  1128 	 Profit:  25.599853515625
Buy on day:  1129 	 Sell on day:  1132 	 Profit:  3.449951171875
Buy on day:  1133 	 Sell on day:  1137 	 Profit:  7.449951171875
Buy on day:  1138 	 Sell on day:  1139 	 Profit:  2.60009765625
Buy on day:  1141 	 Sell on day:  1142 	 Profit:  2.35009765625
Buy on day:  1146 	 Sell on day:  1148 	 Profit:  4.25
Buy on day:  1149 	 Sell on day:  1153 	 Profit:  4.89990234375
Buy on day:  1160 	 Sell on day:  1162 	 Profit:  2.699951171875
Buy on day:  1176 	 Sell on day:  1181 	 Profit:  4.39990234375
Buy on day:  1191 	 Sell on day:  1193 	 Profit:  3.10009765625
Buy on day:  1197 	 Sell on day:  1200 	 Profit:  4.050048828125
Buy on day:  1202 	 Sell on day:  1204 	 Profit:  2.199951171875
Buy on day:  1213 	 Sell on day:  1215 	 Profit:  2.14990234375
Buy on day:  1224 	 Sell on day:  1229 	 Profit:  3.10009765625
Buy on day:  1230 	 Sell on day:  1232 	 Profit:  2.25
Buy on day:  1266 	 Sell on day:  1268 	 Profit:  2.25
Buy on day:  1276 	 Sell on day:  1281 	 Profit:  2.199951171875
Buy on day:  1283 	 Sell on day:  1287 	 Profit:  2.199951171875
Buy on day:  1295 	 Sell on day:  1299 	 Profit:  2.60009765625
Buy on day:  1313 	 Sell on day:  1314 	 Profit:  3.050048828125
Buy on day:  1315 	 Sell on day:  1318 	 Profit:  3.199951171875
Buy on day:  1323 	 Sell on day:  1326 	 Profit:  2.89990234375
Buy on day:  1346 	 Sell on day:  1347 	 Profit:  2.10009765625
Buy on day:  1348 	 Sell on day:  1351 	 Profit:  2.0
Buy on day:  1382 	 Sell on day:  1387 	 Profit:  2.550048828125
Buy on day:  1388 	 Sell on day:  1390 	 Profit:  2.150146484375
Buy on day:  1392 	 Sell on day:  1394 	 Profit:  3.449951171875
Buy on day:  1400 	 Sell on day:  1405 	 Profit:  3.35009765625
Buy on day:  1406 	 Sell on day:  1407 	 Profit:  3.0
Buy on day:  1416 	 Sell on day:  1419 	 Profit:  2.0
Buy on day:  1427 	 Sell on day:  1429 	 Profit:  2.099853515625
Buy on day:  1440 	 Sell on day:  1446 	 Profit:  7.449951171875
Buy on day:  1461 	 Sell on day:  1466 	 Profit:  3.89990234375
Buy on day:  1477 	 Sell on day:  1479 	 Profit:  2.099853515625
Buy on day:  1483 	 Sell on day:  1484 	 Profit:  2.25
Buy on day:  1485 	 Sell on day:  1487 	 Profit:  2.400146484375
Buy on day:  1497 	 Sell on day:  1498 	 Profit:  2.5

In [ ]:
df.head()

             AD   ADOSC_3_10  ABER_ZG_5_15  ...   VTXP_14   VTXM_14  final_buy
0 -60767.907603  -731.719896   3124.989990  ...  1.132260  0.904841         no
1 -59924.672110  -634.414226   3124.840007  ...  1.100495  0.917621         no
2 -59069.962249  -264.980203   3124.766683  ...  1.093273  0.831805         no
3 -60675.323723  -600.555826   3124.413346  ...  1.059427  0.909361         no
4 -62704.323723 -1328.831687   3123.786686  ...  1.064698  0.879043        buy

[5 rows x 184 columns]

In [ ]:
df.shape

(1354, 184)

In [ ]:
X = df[['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9',
       'MASSI_9_25', 'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2',
       'PSARr_0.02_0.2', 'SQZ_ON', 'SQZ_OFF', 'THERMOl_20_2_0.5',
       'THERMOs_20_2_0.5']].iloc[100:]

y = df.final_buy.iloc[100:]

In [ ]:
X.shape

(1254, 30)

In [ ]:
import noML
tp = noML.AutoML(X,y)

In [ ]:
tp.fit()

KNN
Logisitc Regression
Gaussian NavieBayes
Decision Tree Classifier
Support vector machine
Random Forest Classifier
SGD Classifier

   Accuracy                 Algorithm  ...  Recall score  time(sec)
0  0.669323                       KNN  ...      0.669323   0.012046
1  0.713147       Logisitc Regression  ...      0.713147   0.095461
2  0.645418       Gaussian NavieBayes  ...      0.645418   0.004486
3  0.685259  Decision Tree Classifier  ...      0.685259   0.023244
4  0.725100    Support vector machine  ...      0.725100   0.057072
5  0.752988  Random Forest Classifier  ...      0.752988   0.385397
6  0.705179            SGD Classifier  ...      0.705179   0.031218

[7 rows x 6 columns]

In [ ]:
model = tp.randomforest()

Random Forest Classifier

In [ ]:
zx = df[['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9',
       'MASSI_9_25', 'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2',
       'PSARr_0.02_0.2', 'SQZ_ON', 'SQZ_OFF', 'THERMOl_20_2_0.5',
       'THERMOs_20_2_0.5']].iloc[790:]
zy = df.final_buy.iloc[790:]
 
zx = zx.reset_index(drop=True)
zy = zy.reset_index(drop=True)

In [ ]:
array = zy[zy=='buy'].index
array
for i in array:
    print(model.predict([zx.iloc[i]]))

['no']
['buy']
['buy']
['buy']
['buy']
['buy']
['no']
['buy']
['no']
['buy']
['no']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['no']
['buy']
['buy']
['buy']
['buy']
['buy']
['no']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['no']
['buy']
['buy']
['buy']
['no']
['buy']
['no']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['buy']
['no']
['buy']
['buy']
['buy']
['buy']
['no']
['no']
['buy']
['no']
['buy']

In [ ]:
array = zy[zy=='buy'].index

In [ ]:
array

Int64Index([0, 4, 12, 14], dtype='int64')

In [ ]:
for i in array:
    print(model.predict([zx.iloc[i]]))

['no']
['buy']
['no']
['no']

In [ ]:
ls

BHEL__EQ__NSE__NSE__MINUTE.csv  sample_data/

In [ ]:
bhel = pd.read_csv('bhel.csv')
bhel = bhel.reset_index(drop=True)
bhel = bhel.set_index(['timestamp'])
bhel.head()

                            open   high    low  close   volume
timestamp
2017-01-02 09:15:00+05:30  80.83  81.00  80.83  80.90  29495.0
2017-01-02 09:16:00+05:30  80.90  80.90  80.77  80.90  25445.0
2017-01-02 09:17:00+05:30  80.87  80.93  80.77  80.80  23282.0
2017-01-02 09:18:00+05:30  80.80  80.80  80.67  80.77  31247.0
2017-01-02 09:19:00+05:30  80.77  80.80  80.53  80.60  22892.0

In [ ]:
bhel.index = pd.to_datetime(bhel.index)

In [ ]:
type(bhel.index[1])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
# bhel = bhel.resample("15T").mean()

In [ ]:
import pandas as pd
import yfinance as yf
import datetime as dt
import pandas_ta as ta


# This function finds the buy sell
# schedule for maximum profit
def stockBuySelldf(df):
    fdf = df.copy()
    # start = dt.datetime.today()-dt.timedelta(59)
    # end = dt.datetime.today()
    # fdf = yf.download(tick,start=start, end=end,interval='15m')
    # fdf.ta.strategy(ta.AllStrategy)
    price = fdf['close']
    n = len(fdf)
    
    fdf['final_buy'] = 'no'
    # fdf['final_sell'] = 'no'
    # fdf['profit'] = 0
    total = 0
    # Prices must be given for at least two days
    if (n == 1):
        return
    
    # Traverse through given price array
    i = 0
    while (i < (n - 1)):
        
        # Find Local Minima
        # Note that the limit is (n-2) as we are
        # comparing present element to the next element
        while ((i < (n - 1)) and
                (price[i + 1] <= price[i])):
            i += 1
        
        # If we reached the end, break
        # as no further solution possible
        if (i == n - 1):
            break
        
        # Store the index of minima
        buy = i
        i += 1
        
        # Find Local Maxima
        # Note that the limit is (n-1) as we are
        # comparing to previous element
        while ((i < n) and (price[i] >= price[i - 1])):
            i += 1
            
        # Store the index of maxima
        sell = i - 1
        
        profit = fdf['close'][sell] - fdf['close'][buy]
        
        if (profit >= 2):
            
            print("Buy on day: ",buy,"\t", "Sell on day: ",sell,"\t", "Profit: ",profit)  
            total = total + profit
            # print(total)
            fdf['final_buy'][buy] = 'buy'
            fdf['final_buy'][sell] = 'sell'
            # fdf['profit'][sell] = profit
    # fdf.drop(['open', 'high', 'low', 'close'],axis=1,inplace=True)
    # fdf = fdf.dropna()
    # fdf = fdf.reset_index(drop=True)
    return fdf

In [ ]:
bhel.isnull().sum()

open      138
high      138
low       138
close     138
volume    138
dtype: int64

In [ ]:
bhel.dropna(inplace=True)

In [ ]:
bhel.shape

(370407, 5)

In [ ]:
sample_bhel = bhel.iloc[367454:]

In [ ]:
sample_bhel = sample_bhel.dropna()

In [ ]:
sample_bhel.shape

(2953, 5)

In [ ]:
sample_bhel.to_csv('sample_bhel.csv')

In [ ]:
sample_bhel.head()

                            open  high    low  close    volume
timestamp
2020-12-22 10:02:00+05:30  31.50  31.5  31.40  31.50  240996.0
2020-12-22 10:03:00+05:30  31.45  31.5  31.40  31.45  247630.0
2020-12-22 10:04:00+05:30  31.50  31.6  31.45  31.55  299612.0
2020-12-22 10:05:00+05:30  31.55  31.6  31.45  31.55  175819.0
2020-12-22 10:06:00+05:30  31.55  31.6  31.45  31.55  145229.0

In [ ]:
sample_bhel.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [ ]:
sample_bhel.ta.strategy(ta.AllStrategy)

/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:1092: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/pandas/core/arrays/datetimes.py:1092: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

In [ ]:
sample_bhel

                            open   high    low  ...   VIDYA_14   VTXP_14   VTXM_14
timestamp                                       ...
2020-12-22 10:02:00+05:30  31.50  31.50  31.40  ...        NaN       NaN       NaN
2020-12-22 10:03:00+05:30  31.45  31.50  31.40  ...        NaN       NaN       NaN
2020-12-22 10:04:00+05:30  31.50  31.60  31.45  ...        NaN       NaN       NaN
2020-12-22 10:05:00+05:30  31.55  31.60  31.45  ...        NaN       NaN       NaN
2020-12-22 10:06:00+05:30  31.55  31.60  31.45  ...        NaN       NaN       NaN
...                          ...    ...    ...  ...        ...       ...       ...
2021-01-01 15:25:00+05:30  38.60  38.65  38.60  ...  38.542757  0.975610  1.048780
2021-01-01 15:26:00+05:30  38.60  38.65  38.55  ...  38.545693  0.947368  1.131579
2021-01-01 15:27:00+05:30  38.65  38.70  38.60  ...  38.551042  0.894737  1.105263
2021-01-01 15:28:00+05:30  38.65  38.70  38.60  ...  38.553840  0.864865  1.162162
2021-01-01 15:29:00+05:30  38.65  38.70  38.60  ...  38.556798  0.911765  1.176471

[2953 rows x 196 columns]

In [ ]:
bhell = stockBuySelldf(sample_bhel)

In [ ]:
bhell.final_buy.unique()

array(['no'], dtype=object)

In [ ]:
import pandas as pd
import yfinance as yf
import datetime as dt
import pandas_ta as ta


# This function finds the buy sell
# schedule for maximum profit
def stockBuySelldirect(link):
    fdf = pd.read_csv(link)
    # start = dt.datetime.today()-dt.timedelta(59)
    # end = dt.datetime.today()
    # fdf = yf.download(tick,start=start, end=end,interval='15m')
    fdf.ta.strategy(ta.AllStrategy)
    price = fdf['close']
    n = len(fdf)
    
    fdf['final_buy'] = 'no'
    # fdf['final_sell'] = 'no'
    # fdf['profit'] = 0
    total = 0
    # Prices must be given for at least two days
    if (n == 1):
        return
    
    # Traverse through given price array
    i = 0
    while (i < (n - 1)):
        
        # Find Local Minima
        # Note that the limit is (n-2) as we are
        # comparing present element to the next element
        while ((i < (n - 1)) and
                (price[i + 1] <= price[i])):
            i += 1
        
        # If we reached the end, break
        # as no further solution possible
        if (i == n - 1):
            break
        
        # Store the index of minima
        buy = i
        i += 1
        
        # Find Local Maxima
        # Note that the limit is (n-1) as we are
        # comparing to previous element
        while ((i < n) and (price[i] >= price[i - 1])):
            i += 1
            
        # Store the index of maxima
        sell = i - 1
        
        profit = fdf['close'][sell] - fdf['close'][buy]
        
        if (profit >= 2):
            
            print("Buy on day: ",buy,"\t", "Sell on day: ",sell,"\t", "Profit: ",profit)  
            total = total + profit
            # print(total)
            fdf['final_buy'][buy] = 'buy'
            fdf['final_buy'][sell] = 'sell'
            # fdf['profit'][sell] = profit
    fdf.drop(['open', 'high', 'low', 'close', 'adj_close', 'volume','HILOs_13_21','HILOl_13_21','SUPERTl_7_3.0','QQEs_14_5_4.236','PSARs_0.02_0.2','PSARl_0.02_0.2','SUPERTs_7_3.0','QQEl_14_5_4.236'],axis=1,inplace=True)
    fdf = fdf.dropna()
    fdf = fdf.reset_index(drop=True)
    return fdf

In [ ]:
link = 'https://raw.githubusercontent.com/rushiai/data_csv/main/master_df_wo_ohlcv.csv'
# a = stockBuySelldirect(link)

In [ ]:
a = pd.read_csv(link)

In [ ]:
a.drop(['Unnamed: 0'], inplace=True, axis=1)

In [ ]:
sample = a.iloc[15000:]

In [ ]:
org = a.iloc[:15001]

In [ ]:
import noML as noML

In [ ]:
X = org.drop(['final_buy'],axis=1)
y = org.final_buy

In [ ]:
tp = noML.AutoML(X,y)

In [ ]:
X_train, X_test = tp.feature_selection_all()

1
['SQZ_NO']
total drop columns , 152
We drop this columns because they highly +ve correlated
  {'RMA_10', 'IKS_26', 'PPO_12_26_9', 'OBV_min_2', 'HW-UPPER', 'MCGD_10', 'SMIs_5_20_5', 'Z_30', 'UO_7_14_28', 'ALMA_10_6.0_0.85', 'RVGI_14_4', 'MACDh_12_26_9', 'TSI_13_25', 'WCP', 'EMA_10', 'DEMA_10', 'ITS_9', 'SQZ_20_2.0_20_1.5', 'TTM_TRND_6', 'PPOs_12_26_9', 'PCTRET_1', 'CMO_14', 'SMI_5_20_5', 'QTL_30_0.5', 'D_9_3', 'MACDs_12_26_9', 'AR_26', 'RVGIs_14_4', 'OBV_max_2', 'CKSPs_10_1_9', 'OBV', 'KCUe_20_2', 'STOCHRSIk_14_14_3_3', 'WMA_10', 'HW-MID', 'COPC_11_14_10', 'HW-LOWER', 'HL2', 'MIDPRICE_2', 'CG_10', 'KCBe_20_2', 'ACCBL_20', 'MACD_12_26_9', 'MEDIAN_30', 'PVOL', 'MAD_30', 'STDEV_30', 'TEMA_10', 'FWMA_10', 'HA_low', 'DCM_20_20', 'ABER_ATR_5_15', 'HA_high', 'LR_14', 'SMA_10', 'VTXP_14', 'MIDPOINT_2', 'VWAP_D', 'PVT', 'TRIMA_10', 'QQE_14_5_4.236_RSIMA', 'ZL_EMA_10', 'PVI_1', 'TRUERANGE_1', 'KCLe_20_2', 'PSL_12', 'FISHERTs_9_1', 'QS_10', 'FISHERT_9_1', 'T3_10_0.7', 'PVOs_12_26_9', 'KAMA_10_2_30', 'SMIo_5_20_5', 'HA_close', 'HILO_13_21', 'ROC_10', 'SUPERTd_7_3.0', 'KSTs_9', 'SWMA_10', 'UI_14', 'RVI_14', 'BIAS_SMA_26', 'HWMA_0.2_0.1_0.1', 'QQE_14_5_4.236', 'PPOh_12_26_9', 'THERMOma_20_2_0.5', 'ICS_26', 'APO_12_26', 'PVOh_12_26_9', 'LDECAY_5', 'TRIX_30_9', 'ACCBM_20', 'BEARP_13', 'J_9_3', 'HLC3', 'STOCHRSId_14_14_3_3', 'AROONOSC_14', 'CCI_14_0.015', 'NATR_14', 'LOGRET_1', 'VWMA_10', 'MOM_10', 'VTXM_14', 'BBU_5_2.0', 'SSF_10_2', 'ATRr_14', 'STOCHd_14_3_3', 'OBVe_12', 'KST_10_15_20_30_10_10_10_15', 'AOBV_SR_2', 'SUPERT_7_3.0', 'THERMO_20_2_0.5', 'AOBV_LR_2', 'HMA_10', 'HA_open', 'PWMA_10', 'CKSPl_10_1_9', 'SKEW_30', 'INC_1', 'VAR_30', 'ENTP_10', 'ACCBU_20', 'MFI_14', 'OBVe_4', 'DCU_20_20', 'RSX_14', 'SINWMA_14', 'OHLC4', 'VIDYA_14', 'ABER_XG_5_15', 'DCL_20_20', 'STOCHk_14_3_3', 'MASSI_9_25', 'ISA_9', 'RSI_14', 'EBSW_40_10', 'PVR', 'PDIST', 'WILLR_14', 'BBL_5_2.0', 'BULLP_13', 'PGO_14', 'K_9_3', 'ISB_26', 'SLOPE_1', 'TRIXs_30_9', 'DMP_14', 'INERTIA_20_14', 'ABER_SG_5_15', 'BR_26', 'BBM_5_2.0', 'DMN_14'}

In [ ]:
X_train.columns

Index(['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9', 'KURT_30',
       'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2', 'PSARr_0.02_0.2', 'SQZ_ON',
       'SQZ_OFF', 'THERMOl_20_2_0.5', 'THERMOs_20_2_0.5'],
      dtype='object')

In [ ]:
tp.fit()

KNN
Logisitc Regression
Gaussian NavieBayes
Decision Tree Classifier
Support vector machine
Random Forest Classifier
SGD Classifier

   Accuracy                 Algorithm  ...  Recall score  time(sec)
0  0.757081                       KNN  ...      0.757081   0.089591
1  0.832056       Logisitc Regression  ...      0.832056   1.019819
2  0.823725       Gaussian NavieBayes  ...      0.823725   0.041374
3  0.779074  Decision Tree Classifier  ...      0.779074   0.387399
4  0.832389    Support vector machine  ...      0.832389   6.337707
5  0.844052  Random Forest Classifier  ...      0.844052   4.062069
6  0.110630            SGD Classifier  ...      0.110630   0.274516

[7 rows x 6 columns]

In [ ]:
X_te = sample.drop(['final_buy'],axis=1)
y_te = sample.final_buy

X_te.reset_index(drop=True,inplace=True)
y_te.reset_index(drop=True,inplace=True)

In [ ]:
X_te = X_te[['AD', 'ADOSC_3_10', 'ABER_ZG_5_15', 'AMATe_LR_2', 'AMATe_SR_2',
       'AO_5_34', 'AROOND_14', 'AROONU_14', 'ADX_14', 'BBB_5_2.0', 'BOP',
       'CDL_DOJI_10_0.1', 'CHOP_14_1_100', 'CMF_20', 'DEC_1', 'DPO_20',
       'EFI_13', 'EOM_14_100000000', 'ER_10', 'CDL_INSIDE', 'CFO_9', 'KURT_30',
       'NVI_1', 'PVO_12_26_9', 'PSARaf_0.02_0.2', 'PSARr_0.02_0.2', 'SQZ_ON',
       'SQZ_OFF', 'THERMOl_20_2_0.5', 'THERMOs_20_2_0.5']]

In [ ]:
model = tp.randomforest()

Random Forest Classifier

In [ ]:
# model = tp.hypertune_random('rfclf')

In [ ]:
y_te[y_te=='sell']

In [ ]:
array = y_te[y_te=='buy'].index
array
for i in array:
    print(model.predict([X_te.iloc[i]]))

In [ ]:
pip install autoviz

In [ ]:
import pandas as pd
import yfinance as yf
import datetime as dt
import pandas_ta as ta


# This function finds the buy sell
# schedule for maximum profit
def stockBuySell(fdf):
    
    # start = dt.datetime.today()-dt.timedelta(59)
    # end = dt.datetime.today()
    # fdf = yf.download(tick,start=start, end=end,interval='15m')
    # fdf.ta.strategy(ta.AllStrategy)
    price = fdf['close']
    n = len(fdf)
    
    fdf['final_buy'] = 'no'
    # fdf['final_sell'] = 'no'
    # fdf['profit'] = 0
    total = 0
    # Prices must be given for at least two days
    if (n == 1):
        return
    
    # Traverse through given price array
    i = 0
    while (i < (n - 1)):
        
        # Find Local Minima
        # Note that the limit is (n-2) as we are
        # comparing present element to the next element
        while ((i < (n - 1)) and
                (price[i + 1] <= price[i])):
            i += 1
        
        # If we reached the end, break
        # as no further solution possible
        if (i == n - 1):
            break
        
        # Store the index of minima
        buy = i
        i += 1
        
        # Find Local Maxima
        # Note that the limit is (n-1) as we are
        # comparing to previous element
        while ((i < n) and (price[i] >= price[i - 1])):
            i += 1
            
        # Store the index of maxima
        sell = i - 1
        
        profit = fdf['close'][sell] - fdf['close'][buy]
        
        if (profit >= 2):
            
            print("Buy on day: ",buy,"\t", "Sell on day: ",sell,"\t", "Profit: ",profit)  
            total = total + profit
            # print(total)
            fdf['final_buy'][buy] = 'buy'
            fdf['final_buy'][sell] = 'sell'
            # fdf['profit'][sell] = profit
    # fdf.drop(['open', 'high', 'low', 'close', 'adj_close', 'volume','HILOs_13_21','HILOl_13_21','SUPERTl_7_3.0','QQEs_14_5_4.236','PSARs_0.02_0.2','PSARl_0.02_0.2','SUPERTs_7_3.0','QQEl_14_5_4.236'],axis=1,inplace=True)
    fdf = fdf.dropna()
    fdf = fdf.reset_index(drop=True)
    return fdf

In [ ]:
link = 'https://raw.githubusercontent.com/rushiai/data_csv/main/AXISBANK__EQ__NSE__NSE__MINUTE.csv'

In [ ]:
bhel = pd.read_csv(link)

In [ ]:
bhel.head()

                   timestamp    open    high     low   close   volume
0  2017-01-02 09:15:00+05:30  451.40  452.00  450.60  451.20  29198.0
1  2017-01-02 09:16:00+05:30  451.15  451.15  450.50  450.80  12539.0
2  2017-01-02 09:17:00+05:30  450.50  450.80  449.30  449.30  26833.0
3  2017-01-02 09:18:00+05:30  449.30  450.10  448.95  449.75  12067.0
4  2017-01-02 09:19:00+05:30  449.75  450.30  449.25  449.80  15675.0

In [ ]:
bhel.isna().sum()

timestamp    0
open         0
high         0
low          0
close        0
volume       0
dtype: int64

In [ ]:
namee = bhel.isna().sum().index

In [ ]:
namee

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [ ]:
mean = bhel['volume'].mean()
bhel['volume'].fillna(value=mean, inplace=True)

In [ ]:
bhel.shape

(370546, 6)

In [ ]:
sample_bhel.iloc[10]

timestamp        2020-12-21 14:08:00+05:30
open                                 596.9
high                                 596.9
low                                  596.2
close                                596.6
volume                               23094
AD                                -50827.2
ADOSC_3_10                         11332.9
ABER_ZG_5_15                       596.487
ABER_SG_5_15                           NaN
ABER_XG_5_15                           NaN
ABER_ATR_5_15                          NaN
ACCBL_20                               NaN
ACCBM_20                               NaN
ACCBU_20                               NaN
Name: 367464, dtype: object

In [ ]:
pip install -U git+https://github.com/twopirllc/pandas-ta

Collecting git+https://github.com/twopirllc/pandas-ta
  Cloning https://github.com/twopirllc/pandas-ta to /tmp/pip-req-build-ibd4q85h
  Running command git clone -q https://github.com/twopirllc/pandas-ta /tmp/pip-req-build-ibd4q85h
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.7/dist-packages (from pandas-ta==0.2.67b0) (1.1.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta==0.2.67b0) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta==0.2.67b0) (1.19.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas-ta==0.2.67b0) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas-ta==0.2.67b0) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.2.67b0-cp37-none-any.whl size=188709 sha256=21903372e690bb2ef13fc3c83ec283f1f297cd127ddee3b854564e4d8ccf6678
  Stored in directory: /tmp/pip-ephem-wheel-cache-ro7kth_6/wheels/64/67/96/15e918c3b53b4a323b5bd037c7f08be5ef6908141c50f07c76
Successfully built pandas-ta
Installing collected packages: pandas-ta
  Found existing installation: pandas-ta 0.2.67b0
    Uninstalling pandas-ta-0.2.67b0:
      Successfully uninstalled pandas-ta-0.2.67b0
Successfully installed pandas-ta-0.2.67b0

In [ ]:
import pandas_ta as ta
import warnings
warnings.filterwarnings("ignore")

In [ ]:
sample_bhel = bhel.iloc[367474:]
sample_bhel.to_csv('sample_bhel.csv')
bhel.ta.strategy(ta.AllStrategy)

[!] VWAP volume series is not datetime ordered. Results may not be as expected.
[!] VWAP price series is not datetime ordered. Results may not be as expected.

AttributeError: ignored

In [ ]:
bhel.head

In [ ]:
bhel.to_csv('bhel_with_ta.csv')

In [ ]:
tsla_intra.shape

(100, 5)

In [ ]:
mic = pd.read_csv('20mic.csv')
mic.shape

(2857, 7)

In [ ]:
mic.ta.strategy(ta.AllStrategy)

[!] VWAP volume series is not datetime ordered. Results may not be as expected.
[!] VWAP price series is not datetime ordered. Results may not be as expected.

AttributeError: ignored

In [73]:
import pandas as pd
import yfinance as yf
import datetime as dt
import pandas_ta as ta


# This function finds the buy sell
# schedule for maximum profit
def stockBuySell(fdf):
    
    # start = dt.datetime.today()-dt.timedelta(7)
    # end = dt.datetime.today()
    # fdf = yf.download(tick,start=start, end=end,interval='1m')
    # fdf.ta.strategy(ta.AllStrategy)
    price = fdf['close']
    n = len(fdf)
    
    fdf['final_buy'] = 'no'
    # fdf['final_sell'] = 'no'
    # fdf['profit'] = 0
    total = 0
    # Prices must be given for at least two days
    if (n == 1):
        return
    
    # Traverse through given price array
    i = 0
    while (i < (n - 1)):
        
        # Find Local Minima
        # Note that the limit is (n-2) as we are
        # comparing present element to the next element
        while ((i < (n - 1)) and
                (price[i + 1] <= price[i])):
            i += 1
        
        # If we reached the end, break
        # as no further solution possible
        if (i == n - 1):
            break
        
        # Store the index of minima
        buy = i
        i += 1
        
        # Find Local Maxima
        # Note that the limit is (n-1) as we are
        # comparing to previous element
        while ((i < n) and (price[i] >= price[i - 1])):
            i += 1
            
        # Store the index of maxima
        sell = i - 1
        
        profit = fdf['close'][sell] - fdf['close'][buy]
        
        if (profit >= 2):
            
            print("Buy on day: ",buy,"\t", "Sell on day: ",sell,"\t", "Profit: ",profit)  
            total = total + profit
            # print(total)
            fdf['final_buy'][buy] = 'buy'
            fdf['final_buy'][sell] = 'sell'
            # fdf['profit'][sell] = profit
    # fdf.drop(['open', 'high', 'low', 'close', 'adj_close', 'volume','HILOs_13_21','HILOl_13_21','SUPERTl_7_3.0','QQEs_14_5_4.236','PSARs_0.02_0.2','PSARl_0.02_0.2','SUPERTs_7_3.0','QQEl_14_5_4.236'],axis=1,inplace=True)
    # fdf = fdf.dropna()
    # fdf = fdf.reset_index(drop=True)
    return fdf

In [40]:
import pandas as pd

In [41]:
link = 'https://raw.githubusercontent.com/rushiai/data_csv/main/AXISBANK__EQ__NSE__NSE__MINUTE.csv'
df = pd.read_csv(link)
df = df.set_index(['timestamp'])
df.index = pd.to_datetime(df.index)
df.head()

                             open    high     low   close   volume
timestamp
2017-01-02 09:15:00+05:30  451.40  452.00  450.60  451.20  29198.0
2017-01-02 09:16:00+05:30  451.15  451.15  450.50  450.80  12539.0
2017-01-02 09:17:00+05:30  450.50  450.80  449.30  449.30  26833.0
2017-01-02 09:18:00+05:30  449.30  450.10  448.95  449.75  12067.0
2017-01-02 09:19:00+05:30  449.75  450.30  449.25  449.80  15675.0

In [43]:
vol = df.resample('15min').sum().volume
price = df['close'].resample('15Min').ohlc()

In [44]:
ndf = pd.concat([price, vol], axis=1)

In [45]:
ndf

                             open    high     low   close    volume
timestamp
2017-01-02 09:15:00+05:30  451.20  451.65  448.95  448.95  211638.0
2017-01-02 09:30:00+05:30  448.05  449.05  447.50  447.50  117877.0
2017-01-02 09:45:00+05:30  445.80  447.00  445.80  446.80  200269.0
2017-01-02 10:00:00+05:30  446.55  447.50  446.35  446.50   62625.0
2017-01-02 10:15:00+05:30  446.70  447.15  446.40  446.40   34067.0
...                           ...     ...     ...     ...       ...
2021-01-01 14:15:00+05:30  622.90  623.90  622.90  623.00  103992.0
2021-01-01 14:30:00+05:30  623.05  623.75  623.05  623.70  159480.0
2021-01-01 14:45:00+05:30  623.75  623.75  623.15  623.40  131560.0
2021-01-01 15:00:00+05:30  622.90  623.90  622.60  623.80  416783.0
2021-01-01 15:15:00+05:30  623.95  624.90  622.55  623.40  646648.0

[140185 rows x 5 columns]

In [49]:
ndf.tail(50)

                             open    high     low   close    volume
timestamp
2021-01-01 03:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 03:15:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 03:30:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 03:45:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 04:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 04:15:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 04:30:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 04:45:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 05:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 05:15:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 05:30:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 05:45:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 06:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 06:15:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 06:30:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 06:45:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 07:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 07:15:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 07:30:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 07:45:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 08:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 08:15:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 08:30:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 08:45:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 09:00:00+05:30     NaN     NaN     NaN     NaN       0.0
2021-01-01 09:15:00+05:30  621.90  623.45  621.50  622.00  618588.0
2021-01-01 09:30:00+05:30  622.35  622.35  621.00  621.35  322825.0
2021-01-01 09:45:00+05:30  621.55  621.55  620.50  621.40  180699.0
2021-01-01 10:00:00+05:30  621.20  621.30  619.50  619.70  272846.0
2021-01-01 10:15:00+05:30  618.50  619.40  617.95  619.40  526015.0
2021-01-01 10:30:00+05:30  619.40  620.50  619.10  620.50  240154.0
2021-01-01 10:45:00+05:30  620.50  622.50  620.50  621.85  298321.0
2021-01-01 11:00:00+05:30  622.20  622.20  620.70  621.40  147444.0
2021-01-01 11:15:00+05:30  621.50  621.90  620.80  621.10   99051.0
2021-01-01 11:30:00+05:30  621.05  621.75  621.05  621.50  103003.0
2021-01-01 11:45:00+05:30  621.75  621.90  621.00  621.60  130932.0
2021-01-01 12:00:00+05:30  621.30  623.00  621.15  622.50  243643.0
2021-01-01 12:15:00+05:30  622.35  623.90  621.85  623.90  221212.0
2021-01-01 12:30:00+05:30  624.20  624.25  623.20  624.00  262585.0
2021-01-01 12:45:00+05:30  623.85  624.05  623.20  623.55  146636.0
2021-01-01 13:00:00+05:30  623.85  623.85  622.50  622.75  135687.0
2021-01-01 13:15:00+05:30  622.80  623.40  622.80  623.10   93459.0
2021-01-01 13:30:00+05:30  623.15  623.85  621.60  622.35  249954.0
2021-01-01 13:45:00+05:30  622.05  623.35  622.05  623.25  121210.0
2021-01-01 14:00:00+05:30  623.30  624.00  623.30  623.85  164566.0
2021-01-01 14:15:00+05:30  622.90  623.90  622.90  623.00  103992.0
2021-01-01 14:30:00+05:30  623.05  623.75  623.05  623.70  159480.0
2021-01-01 14:45:00+05:30  623.75  623.75  623.15  623.40  131560.0
2021-01-01 15:00:00+05:30  622.90  623.90  622.60  623.80  416783.0
2021-01-01 15:15:00+05:30  623.95  624.90  622.55  623.40  646648.0

In [50]:
ndf.to_csv('ndf 15 axis.csv')

In [51]:
ndf.dropna(inplace=True)

In [52]:
ndf.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [57]:
ndf.shape

(24698, 5)

In [60]:
temp = ndf.iloc[17698:]

In [61]:
temp

                             open    high     low   close    volume
timestamp
2019-11-20 15:15:00+05:30  748.50  749.35  748.35  748.40  733256.0
2019-11-21 09:15:00+05:30  747.10  747.10  743.70  743.70  580133.0
2019-11-21 09:30:00+05:30  743.90  743.90  739.85  740.60  405117.0
2019-11-21 09:45:00+05:30  740.50  742.15  738.10  738.10  303053.0
2019-11-21 10:00:00+05:30  738.25  740.85  738.25  740.45  185433.0
...                           ...     ...     ...     ...       ...
2021-01-01 14:15:00+05:30  622.90  623.90  622.90  623.00  103992.0
2021-01-01 14:30:00+05:30  623.05  623.75  623.05  623.70  159480.0
2021-01-01 14:45:00+05:30  623.75  623.75  623.15  623.40  131560.0
2021-01-01 15:00:00+05:30  622.90  623.90  622.60  623.80  416783.0
2021-01-01 15:15:00+05:30  623.95  624.90  622.55  623.40  646648.0

[7000 rows x 5 columns]

In [83]:
train = temp.iloc[0:6000]

In [84]:
test = temp.iloc[6001:]

In [85]:
train.ta.strategy(ta.AllStrategy)
test.ta.strategy(ta.AllStrategy)

In [86]:
trainp = stockBuySell(train)

Buy on day:  3 	 Sell on day:  4 	 Profit:  2.3500000000000227
Buy on day:  6 	 Sell on day:  8 	 Profit:  3.7000000000000455
Buy on day:  25 	 Sell on day:  26 	 Profit:  2.8999999999999773
Buy on day:  45 	 Sell on day:  46 	 Profit:  5.2000000000000455
Buy on day:  50 	 Sell on day:  52 	 Profit:  7.699999999999932
Buy on day:  54 	 Sell on day:  57 	 Profit:  3.0499999999999545
Buy on day:  58 	 Sell on day:  59 	 Profit:  2.25
Buy on day:  64 	 Sell on day:  74 	 Profit:  16.800000000000068
Buy on day:  76 	 Sell on day:  77 	 Profit:  3.099999999999909
Buy on day:  79 	 Sell on day:  86 	 Profit:  6.5499999999999545
Buy on day:  97 	 Sell on day:  100 	 Profit:  9.5
Buy on day:  101 	 Sell on day:  102 	 Profit:  7.2000000000000455
Buy on day:  129 	 Sell on day:  131 	 Profit:  4.7999999999999545
Buy on day:  135 	 Sell on day:  136 	 Profit:  2.9500000000000455
Buy on day:  140 	 Sell on day:  141 	 Profit:  4.7999999999999545
Buy on day:  149 	 Sell on day:  151 	 Profit:  5.0
Buy on day:  156 	 Sell on day:  157 	 Profit:  2.3500000000000227
Buy on day:  175 	 Sell on day:  176 	 Profit:  5.699999999999932
Buy on day:  183 	 Sell on day:  185 	 Profit:  2.6000000000000227
Buy on day:  192 	 Sell on day:  197 	 Profit:  3.8999999999999773
Buy on day:  198 	 Sell on day:  200 	 Profit:  2.949999999999932
Buy on day:  226 	 Sell on day:  229 	 Profit:  11.149999999999977
Buy on day:  242 	 Sell on day:  244 	 Profit:  3.3500000000000227
Buy on day:  245 	 Sell on day:  251 	 Profit:  10.25
Buy on day:  253 	 Sell on day:  254 	 Profit:  4.0
Buy on day:  267 	 Sell on day:  268 	 Profit:  3.1000000000000227
Buy on day:  272 	 Sell on day:  274 	 Profit:  2.25
Buy on day:  275 	 Sell on day:  278 	 Profit:  5.2999999999999545
Buy on day:  280 	 Sell on day:  282 	 Profit:  4.5499999999999545
Buy on day:  301 	 Sell on day:  304 	 Profit:  5.7999999999999545
Buy on day:  305 	 Sell on day:  309 	 Profit:  5.399999999999977
Buy on day:  314 	 Sell on day:  316 	 Profit:  3.4500000000000455
Buy on day:  320 	 Sell on day:  325 	 Profit:  8.0
Buy on day:  333 	 Sell on day:  335 	 Profit:  2.1499999999999773
Buy on day:  350 	 Sell on day:  352 	 Profit:  5.4500000000000455
Buy on day:  353 	 Sell on day:  354 	 Profit:  3.449999999999932
Buy on day:  365 	 Sell on day:  367 	 Profit:  3.1000000000000227
Buy on day:  368 	 Sell on day:  369 	 Profit:  2.0
Buy on day:  371 	 Sell on day:  374 	 Profit:  4.7999999999999545
Buy on day:  375 	 Sell on day:  377 	 Profit:  4.900000000000091
Buy on day:  380 	 Sell on day:  381 	 Profit:  2.0
Buy on day:  384 	 Sell on day:  385 	 Profit:  2.5
Buy on day:  389 	 Sell on day:  391 	 Profit:  4.600000000000023
Buy on day:  400 	 Sell on day:  404 	 Profit:  17.75
Buy on day:  405 	 Sell on day:  406 	 Profit:  4.25
Buy on day:  407 	 Sell on day:  409 	 Profit:  2.349999999999909
Buy on day:  410 	 Sell on day:  413 	 Profit:  3.699999999999932
Buy on day:  414 	 Sell on day:  417 	 Profit:  3.199999999999932
Buy on day:  422 	 Sell on day:  424 	 Profit:  5.449999999999932
Buy on day:  427 	 Sell on day:  428 	 Profit:  3.3500000000000227
Buy on day:  429 	 Sell on day:  431 	 Profit:  2.0
Buy on day:  442 	 Sell on day:  443 	 Profit:  2.8500000000000227
Buy on day:  450 	 Sell on day:  456 	 Profit:  8.049999999999955
Buy on day:  469 	 Sell on day:  470 	 Profit:  3.8500000000000227
Buy on day:  483 	 Sell on day:  485 	 Profit:  2.0
Buy on day:  497 	 Sell on day:  501 	 Profit:  7.75
Buy on day:  514 	 Sell on day:  515 	 Profit:  3.0
Buy on day:  523 	 Sell on day:  526 	 Profit:  2.9500000000000455
Buy on day:  550 	 Sell on day:  551 	 Profit:  2.8500000000000227
Buy on day:  552 	 Sell on day:  555 	 Profit:  4.100000000000023
Buy on day:  556 	 Sell on day:  558 	 Profit:  2.1000000000000227
Buy on day:  566 	 Sell on day:  570 	 Profit:  2.699999999999932
Buy on day:  573 	 Sell on day:  575 	 Profit:  4.0
Buy on day:  592 	 Sell on day:  596 	 Profit:  3.849999999999909
Buy on day:  623 	 Sell on day:  629 	 Profit:  11.799999999999955
Buy on day:  630 	 Sell on day:  633 	 Profit:  2.2999999999999545
Buy on day:  636 	 Sell on day:  639 	 Profit:  2.599999999999909
Buy on day:  640 	 Sell on day:  642 	 Profit:  3.2000000000000455
Buy on day:  643 	 Sell on day:  652 	 Profit:  10.5
Buy on day:  672 	 Sell on day:  676 	 Profit:  6.25
Buy on day:  677 	 Sell on day:  679 	 Profit:  2.949999999999932
Buy on day:  682 	 Sell on day:  686 	 Profit:  6.7999999999999545
Buy on day:  700 	 Sell on day:  701 	 Profit:  6.599999999999909
Buy on day:  725 	 Sell on day:  726 	 Profit:  4.2000000000000455
Buy on day:  732 	 Sell on day:  738 	 Profit:  4.75
Buy on day:  740 	 Sell on day:  743 	 Profit:  6.050000000000068
Buy on day:  773 	 Sell on day:  774 	 Profit:  2.2000000000000455
Buy on day:  776 	 Sell on day:  778 	 Profit:  2.6000000000000227
Buy on day:  789 	 Sell on day:  793 	 Profit:  3.050000000000068
Buy on day:  800 	 Sell on day:  802 	 Profit:  15.149999999999977
Buy on day:  811 	 Sell on day:  812 	 Profit:  2.199999999999932
Buy on day:  826 	 Sell on day:  827 	 Profit:  8.399999999999977
Buy on day:  828 	 Sell on day:  830 	 Profit:  2.6499999999999773
Buy on day:  835 	 Sell on day:  840 	 Profit:  5.350000000000023
Buy on day:  841 	 Sell on day:  845 	 Profit:  3.949999999999932
Buy on day:  846 	 Sell on day:  849 	 Profit:  3.550000000000068
Buy on day:  850 	 Sell on day:  852 	 Profit:  12.5
Buy on day:  854 	 Sell on day:  863 	 Profit:  7.900000000000091
Buy on day:  869 	 Sell on day:  871 	 Profit:  2.6000000000000227
Buy on day:  877 	 Sell on day:  881 	 Profit:  7.349999999999909
Buy on day:  884 	 Sell on day:  885 	 Profit:  4.600000000000023
Buy on day:  895 	 Sell on day:  897 	 Profit:  3.7999999999999545
Buy on day:  898 	 Sell on day:  899 	 Profit:  2.0
Buy on day:  900 	 Sell on day:  901 	 Profit:  3.4500000000000455
Buy on day:  902 	 Sell on day:  905 	 Profit:  4.7999999999999545
Buy on day:  908 	 Sell on day:  912 	 Profit:  2.7000000000000455
Buy on day:  928 	 Sell on day:  929 	 Profit:  2.199999999999932
Buy on day:  931 	 Sell on day:  938 	 Profit:  7.5
Buy on day:  944 	 Sell on day:  947 	 Profit:  7.649999999999977
Buy on day:  953 	 Sell on day:  954 	 Profit:  2.6000000000000227
Buy on day:  957 	 Sell on day:  961 	 Profit:  2.7999999999999545
Buy on day:  964 	 Sell on day:  971 	 Profit:  7.850000000000023
Buy on day:  975 	 Sell on day:  978 	 Profit:  2.4500000000000455
Buy on day:  988 	 Sell on day:  992 	 Profit:  2.1000000000000227
Buy on day:  1001 	 Sell on day:  1006 	 Profit:  6.100000000000023
Buy on day:  1010 	 Sell on day:  1011 	 Profit:  2.0
Buy on day:  1012 	 Sell on day:  1016 	 Profit:  3.7000000000000455
Buy on day:  1025 	 Sell on day:  1026 	 Profit:  6.0
Buy on day:  1041 	 Sell on day:  1044 	 Profit:  5.100000000000023
Buy on day:  1051 	 Sell on day:  1052 	 Profit:  2.300000000000068
Buy on day:  1061 	 Sell on day:  1063 	 Profit:  2.0
Buy on day:  1081 	 Sell on day:  1088 	 Profit:  6.350000000000023
Buy on day:  1098 	 Sell on day:  1099 	 Profit:  2.25
Buy on day:  1100 	 Sell on day:  1102 	 Profit:  23.050000000000068
Buy on day:  1109 	 Sell on day:  1111 	 Profit:  2.0
Buy on day:  1112 	 Sell on day:  1116 	 Profit:  3.4500000000000455
Buy on day:  1124 	 Sell on day:  1127 	 Profit:  4.0
Buy on day:  1128 	 Sell on day:  1131 	 Profit:  5.899999999999977
Buy on day:  1134 	 Sell on day:  1135 	 Profit:  3.3500000000000227
Buy on day:  1139 	 Sell on day:  1141 	 Profit:  3.6499999999999773
Buy on day:  1142 	 Sell on day:  1146 	 Profit:  4.600000000000023
Buy on day:  1151 	 Sell on day:  1155 	 Profit:  10.299999999999955
Buy on day:  1175 	 Sell on day:  1177 	 Profit:  5.899999999999977
Buy on day:  1180 	 Sell on day:  1182 	 Profit:  3.25
Buy on day:  1200 	 Sell on day:  1203 	 Profit:  8.600000000000023
Buy on day:  1205 	 Sell on day:  1207 	 Profit:  3.050000000000068
Buy on day:  1218 	 Sell on day:  1219 	 Profit:  2.199999999999932
Buy on day:  1231 	 Sell on day:  1236 	 Profit:  4.100000000000023
Buy on day:  1245 	 Sell on day:  1249 	 Profit:  3.1000000000000227
Buy on day:  1250 	 Sell on day:  1251 	 Profit:  5.850000000000023
Buy on day:  1255 	 Sell on day:  1256 	 Profit:  2.6000000000000227
Buy on day:  1263 	 Sell on day:  1264 	 Profit:  5.0
Buy on day:  1266 	 Sell on day:  1268 	 Profit:  2.449999999999932
Buy on day:  1269 	 Sell on day:  1271 	 Profit:  3.6499999999999773
Buy on day:  1273 	 Sell on day:  1275 	 Profit:  2.4500000000000455
Buy on day:  1276 	 Sell on day:  1281 	 Profit:  5.949999999999932
Buy on day:  1282 	 Sell on day:  1283 	 Profit:  2.3500000000000227
Buy on day:  1287 	 Sell on day:  1289 	 Profit:  2.1000000000000227
Buy on day:  1290 	 Sell on day:  1291 	 Profit:  2.050000000000068
Buy on day:  1293 	 Sell on day:  1294 	 Profit:  6.399999999999977
Buy on day:  1302 	 Sell on day:  1307 	 Profit:  10.300000000000068
Buy on day:  1309 	 Sell on day:  1315 	 Profit:  5.9500000000000455
Buy on day:  1318 	 Sell on day:  1323 	 Profit:  8.25
Buy on day:  1324 	 Sell on day:  1326 	 Profit:  9.799999999999955
Buy on day:  1330 	 Sell on day:  1333 	 Profit:  3.449999999999932
Buy on day:  1346 	 Sell on day:  1353 	 Profit:  10.950000000000045
Buy on day:  1365 	 Sell on day:  1371 	 Profit:  6.5499999999999545
Buy on day:  1376 	 Sell on day:  1381 	 Profit:  8.450000000000045
Buy on day:  1385 	 Sell on day:  1386 	 Profit:  7.75
Buy on day:  1387 	 Sell on day:  1389 	 Profit:  6.0
Buy on day:  1391 	 Sell on day:  1393 	 Profit:  3.3500000000000227
Buy on day:  1402 	 Sell on day:  1403 	 Profit:  2.9500000000000455
Buy on day:  1409 	 Sell on day:  1414 	 Profit:  8.600000000000023
Buy on day:  1421 	 Sell on day:  1424 	 Profit:  3.5
Buy on day:  1431 	 Sell on day:  1433 	 Profit:  2.1000000000000227
Buy on day:  1434 	 Sell on day:  1437 	 Profit:  3.1000000000000227
Buy on day:  1450 	 Sell on day:  1452 	 Profit:  15.549999999999955
Buy on day:  1472 	 Sell on day:  1474 	 Profit:  2.3999999999999773
Buy on day:  1475 	 Sell on day:  1476 	 Profit:  9.75
Buy on day:  1488 	 Sell on day:  1492 	 Profit:  2.75
Buy on day:  1493 	 Sell on day:  1495 	 Profit:  2.0499999999999545
Buy on day:  1505 	 Sell on day:  1507 	 Profit:  4.350000000000023
Buy on day:  1517 	 Sell on day:  1520 	 Profit:  3.9500000000000455
Buy on day:  1523 	 Sell on day:  1524 	 Profit:  2.800000000000068
Buy on day:  1525 	 Sell on day:  1526 	 Profit:  5.0499999999999545
Buy on day:  1533 	 Sell on day:  1535 	 Profit:  3.3999999999999773
Buy on day:  1539 	 Sell on day:  1542 	 Profit:  4.350000000000023
Buy on day:  1547 	 Sell on day:  1549 	 Profit:  2.0
Buy on day:  1551 	 Sell on day:  1552 	 Profit:  4.350000000000023
Buy on day:  1563 	 Sell on day:  1566 	 Profit:  2.25
Buy on day:  1567 	 Sell on day:  1568 	 Profit:  3.3999999999999773
Buy on day:  1569 	 Sell on day:  1573 	 Profit:  2.5
Buy on day:  1588 	 Sell on day:  1590 	 Profit:  2.5499999999999545
Buy on day:  1597 	 Sell on day:  1601 	 Profit:  15.850000000000023
Buy on day:  1610 	 Sell on day:  1614 	 Profit:  4.850000000000023
Buy on day:  1621 	 Sell on day:  1626 	 Profit:  7.7999999999999545
Buy on day:  1629 	 Sell on day:  1634 	 Profit:  6.5499999999999545
Buy on day:  1635 	 Sell on day:  1636 	 Profit:  2.6499999999999773
Buy on day:  1651 	 Sell on day:  1653 	 Profit:  4.5
Buy on day:  1656 	 Sell on day:  1657 	 Profit:  2.3500000000000227
Buy on day:  1660 	 Sell on day:  1664 	 Profit:  4.149999999999977
Buy on day:  1674 	 Sell on day:  1676 	 Profit:  6.399999999999977
Buy on day:  1677 	 Sell on day:  1679 	 Profit:  2.0499999999999545
Buy on day:  1686 	 Sell on day:  1687 	 Profit:  2.3500000000000227
Buy on day:  1690 	 Sell on day:  1692 	 Profit:  2.2000000000000455
Buy on day:  1695 	 Sell on day:  1698 	 Profit:  7.0
Buy on day:  1703 	 Sell on day:  1705 	 Profit:  2.2999999999999545
Buy on day:  1710 	 Sell on day:  1713 	 Profit:  4.399999999999977
Buy on day:  1714 	 Sell on day:  1718 	 Profit:  4.149999999999977
Buy on day:  1730 	 Sell on day:  1735 	 Profit:  7.600000000000023
Buy on day:  1736 	 Sell on day:  1738 	 Profit:  2.0499999999999545
Buy on day:  1739 	 Sell on day:  1742 	 Profit:  4.850000000000023
Buy on day:  1744 	 Sell on day:  1750 	 Profit:  8.599999999999909
Buy on day:  1753 	 Sell on day:  1756 	 Profit:  5.050000000000068
Buy on day:  1762 	 Sell on day:  1765 	 Profit:  6.399999999999977
Buy on day:  1774 	 Sell on day:  1776 	 Profit:  9.950000000000045
Buy on day:  1777 	 Sell on day:  1778 	 Profit:  2.050000000000068
Buy on day:  1790 	 Sell on day:  1795 	 Profit:  8.799999999999955
Buy on day:  1799 	 Sell on day:  1801 	 Profit:  11.050000000000068
Buy on day:  1806 	 Sell on day:  1807 	 Profit:  4.300000000000068
Buy on day:  1809 	 Sell on day:  1811 	 Profit:  4.649999999999977
Buy on day:  1812 	 Sell on day:  1815 	 Profit:  6.149999999999977
Buy on day:  1816 	 Sell on day:  1822 	 Profit:  7.899999999999977
Buy on day:  1824 	 Sell on day:  1825 	 Profit:  3.2999999999999545
Buy on day:  1826 	 Sell on day:  1828 	 Profit:  5.199999999999932
Buy on day:  1845 	 Sell on day:  1849 	 Profit:  12.849999999999909
Buy on day:  1850 	 Sell on day:  1853 	 Profit:  4.75
Buy on day:  1854 	 Sell on day:  1857 	 Profit:  4.150000000000091
Buy on day:  1858 	 Sell on day:  1860 	 Profit:  6.25
Buy on day:  1876 	 Sell on day:  1878 	 Profit:  3.6000000000000227
Buy on day:  1882 	 Sell on day:  1884 	 Profit:  2.0
Buy on day:  1887 	 Sell on day:  1891 	 Profit:  6.350000000000023
Buy on day:  1892 	 Sell on day:  1894 	 Profit:  4.5
Buy on day:  1896 	 Sell on day:  1900 	 Profit:  5.25
Buy on day:  1908 	 Sell on day:  1913 	 Profit:  4.449999999999932
Buy on day:  1917 	 Sell on day:  1920 	 Profit:  7.149999999999977
Buy on day:  1921 	 Sell on day:  1923 	 Profit:  9.100000000000023
Buy on day:  1924 	 Sell on day:  1926 	 Profit:  10.149999999999977
Buy on day:  1931 	 Sell on day:  1932 	 Profit:  2.800000000000068
Buy on day:  1934 	 Sell on day:  1936 	 Profit:  8.0
Buy on day:  1942 	 Sell on day:  1943 	 Profit:  2.3500000000000227
Buy on day:  1944 	 Sell on day:  1946 	 Profit:  5.100000000000023
Buy on day:  1947 	 Sell on day:  1948 	 Profit:  2.3500000000000227
Buy on day:  1949 	 Sell on day:  1950 	 Profit:  2.75
Buy on day:  1951 	 Sell on day:  1952 	 Profit:  6.75
Buy on day:  1962 	 Sell on day:  1964 	 Profit:  4.949999999999932
Buy on day:  1965 	 Sell on day:  1966 	 Profit:  3.1499999999999773
Buy on day:  1967 	 Sell on day:  1968 	 Profit:  3.9500000000000455
Buy on day:  1973 	 Sell on day:  1975 	 Profit:  8.450000000000045
Buy on day:  1976 	 Sell on day:  1980 	 Profit:  75.80000000000001
Buy on day:  1982 	 Sell on day:  1984 	 Profit:  21.549999999999955
Buy on day:  1986 	 Sell on day:  1990 	 Profit:  26.050000000000068
Buy on day:  1993 	 Sell on day:  1997 	 Profit:  25.25
Buy on day:  1998 	 Sell on day:  2000 	 Profit:  4.25
Buy on day:  2001 	 Sell on day:  2004 	 Profit:  11.899999999999977
Buy on day:  2008 	 Sell on day:  2009 	 Profit:  2.1499999999999773
Buy on day:  2010 	 Sell on day:  2011 	 Profit:  6.4500000000000455
Buy on day:  2021 	 Sell on day:  2022 	 Profit:  4.899999999999977
Buy on day:  2023 	 Sell on day:  2027 	 Profit:  23.100000000000023
Buy on day:  2028 	 Sell on day:  2029 	 Profit:  3.9500000000000455
Buy on day:  2031 	 Sell on day:  2033 	 Profit:  2.6499999999999773
Buy on day:  2037 	 Sell on day:  2039 	 Profit:  5.5
Buy on day:  2050 	 Sell on day:  2052 	 Profit:  6.550000000000011
Buy on day:  2055 	 Sell on day:  2056 	 Profit:  4.900000000000034
Buy on day:  2062 	 Sell on day:  2065 	 Profit:  12.050000000000011
Buy on day:  2067 	 Sell on day:  2069 	 Profit:  4.399999999999977
Buy on day:  2070 	 Sell on day:  2072 	 Profit:  41.25
Buy on day:  2075 	 Sell on day:  2076 	 Profit:  2.1999999999999886
Buy on day:  2077 	 Sell on day:  2080 	 Profit:  26.44999999999999
Buy on day:  2084 	 Sell on day:  2085 	 Profit:  4.900000000000034
Buy on day:  2086 	 Sell on day:  2087 	 Profit:  5.400000000000034
Buy on day:  2090 	 Sell on day:  2092 	 Profit:  20.0
Buy on day:  2096 	 Sell on day:  2097 	 Profit:  3.1000000000000227
Buy on day:  2099 	 Sell on day:  2101 	 Profit:  7.5
Buy on day:  2103 	 Sell on day:  2106 	 Profit:  7.449999999999989
Buy on day:  2107 	 Sell on day:  2110 	 Profit:  7.149999999999977
Buy on day:  2111 	 Sell on day:  2112 	 Profit:  5.7000000000000455
Buy on day:  2113 	 Sell on day:  2115 	 Profit:  10.949999999999989
Buy on day:  2117 	 Sell on day:  2118 	 Profit:  9.25
Buy on day:  2119 	 Sell on day:  2121 	 Profit:  2.3000000000000114
Buy on day:  2126 	 Sell on day:  2127 	 Profit:  5.949999999999989
Buy on day:  2128 	 Sell on day:  2129 	 Profit:  10.100000000000023
Buy on day:  2130 	 Sell on day:  2131 	 Profit:  2.6999999999999886
Buy on day:  2132 	 Sell on day:  2133 	 Profit:  2.900000000000034
Buy on day:  2139 	 Sell on day:  2140 	 Profit:  8.149999999999977
Buy on day:  2143 	 Sell on day:  2145 	 Profit:  20.149999999999977
Buy on day:  2147 	 Sell on day:  2149 	 Profit:  3.6999999999999886
Buy on day:  2150 	 Sell on day:  2151 	 Profit:  7.449999999999989
Buy on day:  2155 	 Sell on day:  2158 	 Profit:  5.199999999999989
Buy on day:  2159 	 Sell on day:  2162 	 Profit:  14.449999999999989
Buy on day:  2164 	 Sell on day:  2165 	 Profit:  3.8000000000000114
Buy on day:  2170 	 Sell on day:  2174 	 Profit:  17.899999999999977
Buy on day:  2175 	 Sell on day:  2186 	 Profit:  48.44999999999999
Buy on day:  2189 	 Sell on day:  2190 	 Profit:  4.899999999999977
Buy on day:  2191 	 Sell on day:  2192 	 Profit:  2.4499999999999886
Buy on day:  2193 	 Sell on day:  2195 	 Profit:  31.5
Buy on day:  2196 	 Sell on day:  2202 	 Profit:  24.30000000000001
Buy on day:  2203 	 Sell on day:  2207 	 Profit:  27.799999999999955
Buy on day:  2209 	 Sell on day:  2210 	 Profit:  2.6999999999999886
Buy on day:  2218 	 Sell on day:  2221 	 Profit:  52.650000000000034
Buy on day:  2226 	 Sell on day:  2230 	 Profit:  15.550000000000011
Buy on day:  2236 	 Sell on day:  2240 	 Profit:  13.899999999999977
Buy on day:  2242 	 Sell on day:  2244 	 Profit:  4.350000000000023
Buy on day:  2245 	 Sell on day:  2247 	 Profit:  18.80000000000001
Buy on day:  2248 	 Sell on day:  2252 	 Profit:  9.75
Buy on day:  2261 	 Sell on day:  2265 	 Profit:  10.400000000000034
Buy on day:  2266 	 Sell on day:  2268 	 Profit:  10.0
Buy on day:  2269 	 Sell on day:  2271 	 Profit:  15.449999999999989
Buy on day:  2277 	 Sell on day:  2279 	 Profit:  2.75
Buy on day:  2282 	 Sell on day:  2283 	 Profit:  2.5
Buy on day:  2289 	 Sell on day:  2291 	 Profit:  5.350000000000023
Buy on day:  2302 	 Sell on day:  2303 	 Profit:  4.25
Buy on day:  2321 	 Sell on day:  2323 	 Profit:  3.6499999999999773
Buy on day:  2336 	 Sell on day:  2337 	 Profit:  3.099999999999966
Buy on day:  2343 	 Sell on day:  2347 	 Profit:  35.5
Buy on day:  2351 	 Sell on day:  2353 	 Profit:  11.199999999999989
Buy on day:  2354 	 Sell on day:  2360 	 Profit:  12.900000000000034
Buy on day:  2361 	 Sell on day:  2363 	 Profit:  6.600000000000023
Buy on day:  2364 	 Sell on day:  2369 	 Profit:  12.5
Buy on day:  2370 	 Sell on day:  2373 	 Profit:  41.400000000000034
Buy on day:  2380 	 Sell on day:  2382 	 Profit:  2.5
Buy on day:  2384 	 Sell on day:  2385 	 Profit:  7.149999999999977
Buy on day:  2389 	 Sell on day:  2392 	 Profit:  7.0
Buy on day:  2393 	 Sell on day:  2396 	 Profit:  19.19999999999999
Buy on day:  2397 	 Sell on day:  2399 	 Profit:  2.5
Buy on day:  2401 	 Sell on day:  2402 	 Profit:  3.7000000000000455
Buy on day:  2403 	 Sell on day:  2405 	 Profit:  3.6999999999999886
Buy on day:  2408 	 Sell on day:  2411 	 Profit:  15.0
Buy on day:  2415 	 Sell on day:  2418 	 Profit:  13.350000000000023

In [87]:
trainp

                             open    high  ...   VTXM_14  final_buy
timestamp                                  ...
2019-11-20 15:15:00+05:30  748.50  749.35  ...       NaN         no
2019-11-21 09:15:00+05:30  747.10  747.10  ...       NaN         no
2019-11-21 09:30:00+05:30  743.90  743.90  ...       NaN         no
2019-11-21 09:45:00+05:30  740.50  742.15  ...       NaN        buy
2019-11-21 10:00:00+05:30  738.25  740.85  ...       NaN       sell
...                           ...     ...  ...       ...        ...
2020-11-03 15:15:00+05:30  533.85  535.00  ...  0.851163         no
2020-11-04 09:15:00+05:30  529.90  531.00  ...  0.924426        buy
2020-11-04 09:30:00+05:30  528.35  532.75  ...  0.878446       sell
2020-11-04 09:45:00+05:30  533.75  533.75  ...  0.897463         no
2020-11-04 10:00:00+05:30  525.00  526.20  ...  1.115152         no

[6000 rows x 197 columns]

In [88]:
trainp.isnull().sum()

open          0
high          0
low           0
close         0
volume        0
             ..
Z_30         29
VIDYA_14     14
VTXP_14      14
VTXM_14      14
final_buy     0
Length: 197, dtype: int64

In [78]:
trainp

Empty DataFrame
Columns: [open, high, low, close, volume, AD, ADOSC_3_10, ABER_ZG_5_15, ABER_SG_5_15, ABER_XG_5_15, ABER_ATR_5_15, ACCBL_20, ACCBM_20, ACCBU_20, AMATe_LR_2, AMATe_SR_2, AO_5_34, OBV, OBV_min_2, OBV_max_2, OBVe_4, OBVe_12, AOBV_LR_2, AOBV_SR_2, APO_12_26, ADX_14, DMP_14, DMN_14, ALMA_10_6.0_0.85, BBL_5_2.0, BBM_5_2.0, BBU_5_2.0, BBB_5_2.0, BIAS_SMA_26, BOP, AR_26, BR_26, CCI_14_0.015, CDL_DOJI_10_0.1, AROOND_14, AROONU_14, AROONOSC_14, ATRr_14, CG_10, CHOP_14_1_100, CKSPl_10_1_9, CKSPs_10_1_9, CMF_20, CMO_14, COPC_11_14_10, LDECAY_5, DEC_1, DEMA_10, DCL_20_20, DCM_20_20, DCU_20_20, DPO_20, EBSW_40_10, EFI_13, EMA_10, ENTP_10, EOM_14_100000000, ER_10, BULLP_13, BEARP_13, FISHERT_9_1, FISHERTs_9_1, FWMA_10, CDL_INSIDE, CFO_9, HL2, HLC3, HA_open, HA_high, HA_low, HA_close, HILO_13_21, HILOl_13_21, HILOs_13_21, HWMA_0.2_0.1_0.1, ISA_9, ISB_26, ITS_9, IKS_26, ICS_26, HMA_10, HW-MID, HW-UPPER, HW-LOWER, KAMA_10_2_30, KCLe_20_2, KCBe_20_2, KCUe_20_2, K_9_3, D_9_3, J_9_3, KST_10_15_20_30_10_10_10_15, KSTs_9, INC_1, INERTIA_20_14, ...]
Index: []

[0 rows x 197 columns]